body{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;

}

h2{
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
}

button{
    border: olive;
    padding-top: 10PX;
    padding-bottom: 10px;
    color: white;
    width: 250px;
    font-weight: bold;
    margin-bottom: 5px;
    border-radius: 5px;
}


button:active {
    /* background-color: #3e8e41; */
    /* box-shadow: 0 5px #666; */
    transform: translateY(4px);
}

#increment-btn{
    background: darkred;
}

#increment-btn:hover {
    background-color: brown;
}
#save-btm{
    background: darksalmon;
}